.row {
	display: -webkit-box;
}
.btn {
	margin-top: 15px;
}

#feedbackSection{
	margin-top: 15px;
}

.asterisk {
	color: red;
}

.input-error {
	color: red;
}

#feedbackResponse {
	display: none;
}

#Feedback {
	background-color: #FFF;
	padding: 20px;
}