<div id="About">
	<!-- FAHAD HAYAT-->
	<div class="ui card">
		<div class="image">
			<img src="/images/avatar2/large/kristy.png">
		</div>
		<div class="content">
			<a class="header">Fahad Hayat</a>
			<!-- <div class="meta">
				<span class="date">Joined in 2013</span>
			</div> -->
			<div class="description">
			<!-- <p>Fahad is an art director living in New York.</p> -->
			</div>
		</div>
		<div class="extra content">
			<a target="_blank" href="https://github.com/businessglitch"><i class="github icon"></i></a>
			<a><i class="instagram icon"></i></a>
			<a  target="_blank" href="https://www.linkedin.com/in/fahdhayat/"><i class="linkedin square icon"></i></a>
		</div>
	</div>

	<!-- MIR ABBAS-->
	<div class="ui card">
		<div class="image">
			<img src="/images/avatar2/large/kristy.png">
		</div>
		<div class="content">
			<a class="header">Mir Abbas</a>
			<!-- <div class="meta">
				<span class="date">Joined in 2013</span>
			</div> -->
			<div class="description">
				<!-- <p>Mir is an art director living in New York.</p> -->
			</div>
		</div>
		<div class="extra content">
			<a target="_blank" href="https://github.com/MirHub"><i class="github icon"></i></a>
			<!-- <a><i class="instagram icon"></i></a> -->
			<a target="_blank" href="https://www.linkedin.com/in/mirabbas/" ><i class="linkedin square icon"></i></a>
		</div>
	</div>
</div>