.active {
	background-color: #0275D8;
	color: #FFF;
}

#rooms {
	height: 700px;
    overflow-y: scroll;
    border: 2px solid;
}

#rooms table th {
	text-align: center;
    color: #fff;
    background-color: #000;
}